body {
  font-family: 'Roboto';
  color: var(--main-text-color);
}
:root {
  --titles-text-color: #212121;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --hover-btn-color: #188ce8;
}
