// accent color
$accentColor: #2196f3;
$hoverBtnColor: #188ce8;

// text color
$primaryTextColor: #757575;
$titleTextColor: #212121;

// FONT-FAMILY
$mainFontFamily: 'Roboto';
$primaryFontFamily: 'Raleway';
